*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/other.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/other.xml
.DS_Store
app/build/
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetSelector.xml
*.log
*.tmp
.vscode
.idea/deploymentTargetSelector.xml


.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.gradle/
.idea/
app/build/

local.properties
.idea/misc.xml
/.idea
/.gradle

